<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>youtube</string>
		<string>twitch</string>
	</array>
	<key>UIAppFonts</key>
	<array>
		<string>PretendardVariable.ttf</string>
		<string>LeferiPointSpecial.ttf</string>
	</array>
	<key>UILaunchScreen</key>
	<dict>
		<key>UILaunchScreen</key>
		<dict/>
	</dict>
</dict>
</plist>
